.nav-tabs {
	border-bottom: none !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	background-color: rgba(255, 255, 255, 0.2) !important;
	border: 0 !important;
	color: #fff !important;
}

.nav-tabs .nav-item .nav-link {
	color: #fff;
	border: 0;
	margin: 0;
	border-radius: 3px;
	line-height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 12px;
	background-color: transparent;
}

.nav-tabs .nav-item .nav-link .material-icons {
	font-size: 18px;
	top: 4px;
    position: relative;
    right: 2px;
}

.btnAjout {
	float: right;
	border: none;
	background: transparent;
}